<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Produtos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{  url_for('static', filename= 'styles.css')  }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- Navigation-->
        
        <!-- Product section-->
        <section class="py-5">
            {%  for id, produto in produtos.items()  %}
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{  produto['imagem']  }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Código do Produto: {{  produto['id']  }}</div>
                        <h1 class="display-5 fw-bolder">Produto: {{  produto['nome']  }}</h1>
                        <div class="fs-5 mb-5">
                            <span>Valor R$ {{  produto['valor']  }} </span>
                        </div>
                        <p class="lead">{{  produto['descricao']  }}</p>
                    </div>
                </div>
            </div>
            {%  endfor  %}
        </section>
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Projeto Python Flask 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{  url_for('static', filename= 'js/scripts.js')  }}"></script>
    </body>
</html>
